table{
    margin: 10% auto;
    position: relative;
    border-collapse: collapse;
}

table thead{
    background: rgb(12, 197, 12);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

table tbody tr:nth-child(odd){
    background: rgba(0, 0, 0, 0.09);
}

table tbody tr td, th{
    padding: 15px 50px;
    text-align:left;
    border: 1px solid #ffffff;
    font-weight: 400;
}