.allMenus{
    position: fixed;
    right: 0;
    top: 0; width: 100%;
    transform: translateX(100%);
    height: 100vh;
    padding: 4rem 1rem 0 1rem;
    color: var(--color-white-pur);
    gap: 0;
    z-index: 40;
    background: rgba(180, 168, 168, 0.8);
    transition: .3s ease;
    overflow-y: scroll;  
}

.allMenus.active{
    transform: translateX(0%);
}

.allMenus .overlay{
    height: 100vh; width: 100%;
    background-color: transparent;
    cursor: crosshair;
}

.allMenus .menus{
    z-index: 100;
    width: 100%;
    margin: 0% auto;

    max-width: 450px;
    height: 100vh;
    transition: .2s ease .4s;
    position: relative;
    padding-bottom: 7rem;
}

.menus .menu ul{
    flex-direction: column;
    justify-content: start;
    background: var(--whiteColor);
    border-radius: 20px;
    margin: 0 2%;
    padding: 1.5rem 3%;
}

.menus .menu ul li{
    width: 100%;
}

.menus .menu ul li a{
    flex-direction: row;
    justify-content: start;
    border-bottom: .5px solid var(--invisibleColor);
    gap: 20px;
    padding: 10px 6%;
    width: 100%;
    white-space: nowrap;
}

.menus .menu ul li:nth-last-child(1) a{
    border: none;
}

.menus .menu ul li p{
    font-size: 16px;
}

.menus .menu{
   margin: 20px 0;
}

@media screen and (min-width: 500px) {

    .allMenus .menus{
        max-width: 400px;
        margin: 0;
        margin-left: calc(98% - 400px);
        background: var(--whiteColor);
        border-radius: 20px 20px 0;
        height: fit-content;
        padding: 0;
    }

    .menus .menu ul{
        gap: 5%;
    }
    
    .menus .menu ul li a{
        justify-content: start;
        gap: 20px;
        padding: 10px 6%;
        width: 100%;
        white-space: nowrap;
        padding: 15px;
    }
}