.orders{
    display: grid;
    row-gap: 40px;
}

.orders .order{
    border: 2px solid rgba(0, 0, 0, 0.245);
    padding: 10px 15px;
    border-radius: 10px;
    height: 190px;
    overflow: hidden;
    transition: .3s ease;
}

.orders .order.orderActive{
    height: 100%;
}

.orders .order .orderDetailsText span{
    font-size: 14px;
}

.orders .order .orderDetails{
    padding: 7px;
    line-height: 25px;
}

.orders .order .orderDetails img{
    width: 80px;
}

.orders .order .orderDetails p{
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
}

.orders .order .orderState{
    border-top: 1px solid rgba(0, 0, 0, 0.245);
    padding-top: 7px;
}

.orders .order .orderState p{
    font-size: 14px;
}

.orders .order .orderButtons{
    gap: 10%;
    margin-top: 10px;
}

.orders .order .orderButtons p{
    border: 1px solid  rgba(0, 0, 0, 0.245);
    border-radius: 30px;
    padding: 0px 10px;
    font-size: 13px;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.orders .order .orderButtons .button{
    border-radius: 15px;
    padding: 5px 10px;
    background: var(--primaryColor);
    color: var(--whiteColor);
}


@media screen and (min-width: 400px) {
    .orders .order .orderDetailsText span, .orders .order .orderState p, .orders .order .orderButtons p, .orders .order .orderButtons .button{
        font-size: 16px;
    }

    .orders .order .orderButtons{
        max-width: 250px;
    }

    .orders .order .orderDetails img{
        width: 90px;
    }

    .orders .order{
        width: 350px;
       margin: 0 auto;
    }
    
}