.categorieSection{
    margin: 20px 0;
    padding: 20px 5%;
}

.categorieSection h4{
   font-size: 1.4rem;
    text-align: center;
    margin-bottom: 30px;
}

.categorieSection .categories{
    gap: 30px;
    overflow-x: auto;
    align-items: center;
    padding-left: 10px;
}

.categorieSection .categories .category{
    min-width: 130px;
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    border: .5px solid var(--blackColor);
    border-radius: 15px 15px 0 15px;
    position: relative;
    height: 100%;
}

.categorieSection .categories .category .icon{
    font-size: 2.2rem;
    margin: 20px 0 20px;
    justify-content: center;
}

.categorieSection .categories .category p{
   font-size: 16px;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}

.categorieSection .categories .category span{
   position: absolute;
   top: 8px; left: 8px;
   background: var(--primaryColor);
   color: var(--whiteColor);
   padding: 2px 5px;
   border-radius: 5px;
   font-size: 14px;
}

.categorieSection .categories .icon{
    color: var(--primaryColor);
}

.categorieSection.clicks{
    overflow: visible;
}

@media screen and (min-width: 500px) {
    .categorieSection{
        margin: 2rem 5%;
    }

    .categorieSection h4{
        font-size: 2rem;
     }
}