.categoriesSectionDiv{
    margin: 0 var(--smallMargin);
    padding: 70px 0 55px;
}

.categoriesSection{
    min-height: 70vh;
    background: var(--whiteColor);
    border-radius: 10px;
    padding: 15px 0;
}


.categoriesSection form{
    width: 90%;
    margin-left: 5%;
    height: 43px;
}

.categoriesSection form button.submit p{
    padding: 8px;
    width: 90px;
}

.categoriesSection .categorieSection .categories{
    display: grid;
    gap: 10%;
    grid-template-columns: 1fr 1fr;
    overflow: visible;
    margin-bottom: 5rem;
}



/*  */
.categoriesSection .categorieSection{
    margin: 10px 0 0;
}

.categoriesSection .categorieSection .categories .category{
    padding: 15px 10px 0px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    border: .5px solid rgba(0, 0, 0, 0.351);
}

.categoriesSection .categorieSection .categories .category span{
    position: absolute;
    top: 5px; left: 8px;
    background: var(--primaryColor);
    color: var(--whiteColor);
    padding: 0px 5px;
    border-radius: 5px;
    font-size: 12px;
}

.categoriesSection .categorieSection.vendorsSection{
    margin: 0px 0;
    padding: 0px 0;
}

.categoriesSection .categorieSection.vendorsSection .categories{
    overflow-x: auto;
    display: flex;
    gap: 5%;
    justify-content: start;
    margin-bottom: 30px;
}

.categoriesSection .categorieSection.vendorsSection .categories .hProductCreator p{
    max-width: 100px;
}

@media screen and (max-width: 400px) {
    .categoriesSection .categorieSection .categories{
        gap: 5%;
        grid-template-columns: 1fr;
        overflow: visible;
        margin-bottom: 13rem;
        padding: 0 5%;
    }
    
    .categoriesSection .categorieSection .categories .category{
        height: 70px;
    }

    .categoriesSection .categorieSection.vendorsSection .categories{
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 500px) {
    .categoriesSectionDiv{
        margin: 0 var(--largeMargin);
        padding: 90px 0 100px;
    }   

    .categoriesSection form{
        height: 60px;
        border-radius: 40px;
        padding: 0 20px;
    }

    .categoriesSection .categorieSection .categories{
       margin-bottom: 10rem;
    }
    
    .categoriesSection form button.submit p{
        padding: 13px 0;
        border-radius: 40px;
        width: 100px;
        font-size: 19px;
    }

    .categoriesSection .categorieSection .categories .category{
        height: 90px;
    }

    .categoriesSection .categorieSection .categories .category p{
        font-size: 18px;
    }

    .categoriesSection .categorieSection .categories .category span{
        font-size: 15px;
        padding: 1px 8px;
    }

}

@media screen and (min-width: 700px){
    .categoriesSectionDiv{
        max-width: 700px;
        margin: auto;
    }   
} 