/* Product Content */
.productSection{
    background: var(--whiteColor);
    padding: 2rem 5%;
    border-radius: 0 0 7px 7px;
    position: relative;
    min-height: 100vh;
    padding-bottom: 8rem;
    margin: 7px auto;
    max-width: 800px;
}

.productSection .productInfosText p{
    font-size: 17px;
    margin-bottom: 5px;
}

.productSection .productInfosText .prices{
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin: 14px 0;
   align-items: center;
}

.productSection .productInfosText .prices p{
  margin: 0;
}

.productSection .productInfosText .prices .stars{
    margin-right: 5%;
    gap: 2px;
}

.productSection .productInfosText .prices .stars .icon{
  color: var(--primaryColor);
  font-size: 14px;
}

.productSection .productGalerie hr{
    background: var(--invisibleColor);
    height: 1px;
}


/* Galerie Styles */
.productSection .productGalerie .productGalerie_main{
    
}

.productSection .productGalerie .productGalerie_main img{
    width: 100%;
    height: 250px;
    border-radius: 7%;
}

.productSection .productGalerie .productGalerie_seconds{
    overflow-x: auto;
    padding: 5px 0;
    gap: 5%;
    justify-content: start;
}

.productSection .productGalerie .productGalerie_seconds img{
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 10%;
    border: 1px solid var(--invisibleColor);
}

.productSection .productPrices{
    padding: 15px 5px;
    /* border-top: 1px solid var(--invisibleColor); */
    border-bottom: 1px solid var(--invisibleColor);
}

.productSection .productPrices .productPrice_counter{
    background: var(--backgroundColor);
    padding: 3px 5px;
    gap: 5px;
    border-radius: 2px;
    font-size: 17px;
}

.productSection .productPrices .productPrice_counter span{
    padding: 0px 5px;
    /* border-radius: 3px; */
    background: var(--whiteColor);
}

.productSection .productDetails{
    margin: 15px 0;
}


/* Details details styles */
.productSection .productDetails .detailState{
    text-align: center;
    padding: 0 5px 10px;
    text-transform: capitalize;
    font-size: 14px;
}

.productSection .productDetails .detailState p{
    font-size: 14px;
}

.productSection .productDetails .detailState p.active{
    font-weight: bold;
    position: relative;
}

.productSection .productDetails .detailState p.active::before{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--primaryColor);
    top: calc(100%);
    left: 50%;
    transform: translate(-50%, 0);
}

.productSection .productDetails .productDetailsContents{
    margin: 20px 0;
}

.productSection .productDetails .productDetailsContents .avisContent{
    align-items: start;
    gap: 10px;
    font-size: 15px;
    margin-bottom: 25px;
}

.productSection .productDetails .productDetailsContents .avisContent img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid var(--invisibleColor);
    border-top: none;
    border-right: none;
}

.productSection .productDetails .productDetailsContents .avisContent .avisText p.product_creator{
    font-size: 13px;
    padding: 7px 0 6px 0;
}

.productSection .productDetails .productDetailsContents .avisContent .avisText p{
    font-size: 15px;
}

.productSection .productDetails .productDetailsContents .avisContent .avisText p::before{
    width: 1.5px;
    height: calc(100% + 5px);
    background: var(--invisibleColor);
    left: -27.5px;
    top: -2px;
}


.productSection .productInfos{
    font-size: 15px;
}

.productSection .productInfos .productStock p{
    font-size: 17px;
    margin-bottom: 12px;
    z-index: 10;
}

.productSection .productInfos .hProductCreator{
    justify-content: start;
}

.productSection .productInfos .hProductCreator p{
    max-width: 200px;
}


@media screen and (min-width: 450px) {
    .productSection .stepsSection{
        padding: 89px 0 20px;
        margin: 0 5%;
    } 

    .productSection .productSection{
        margin: 0 5%;
    }

    .productSection .steps .steep p{
        font-size: 14px;
        margin-top: 10px;
    }
    
    .productSection .steps .steep i{
        font-size: 16px;
    }
}

@media screen and (min-width: 630px){
    .productSection .stepsSection{
        max-width: 600px;
        padding: 95px 0 20px;
        margin: 0 auto;
    } 

    .productSection .stepsSection .steps{
        padding: 0 20px;
    }

    .productSection .productSection{
        max-width: 600px;
        padding: 30px 10%;
        margin: 0 auto;
        margin-bottom: 7rem;
    }

    /* Galerie styles for responsivity */
    .productSection .productGalerie{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
        margin-top: 2rem;
    }

    .productSection .productGalerie .productGalerie_main img{
        height: 300px;
    }

    .productSection .productGalerie .productGalerie_seconds{
        flex-direction: column;
        margin-right: 10%;
        overflow: visible;
    }

    .productSection .productGalerie .productGalerie_seconds img{
        width: 70px;
        height: 70px;
    }
}

@media screen and (min-width: 840px){
    .productSection .stepsSection{
        max-width: 600px;
    } 

    .productSection .stepsSection .steps{
        padding: 0 20px;
    }

    .productSection .steps .steep p{
        font-size: 15px;
        margin-top: 10px;
    }
    
    .productSection .steps .steep i{
        font-size: 18px;
    } 

    .productSection .productSection{
        max-width: 800px;
        padding: 30px 10%;
        margin: 0 auto;
        margin-bottom: 7rem;
    }

    .productSection .productInfosText p{
        font-size: 20px;
        margin-bottom: 5px;
    }
    
    .productSection .productInfosText .prices{
       justify-content: space-between;
       align-items: center;
       width: 100%;
       margin: 7px 0;
       font-size: 15px;
    }
    
    .productSection .productInfosText .prices p{
      font-size: 17px;
      margin-top: 5px;
    }

    .productSection .productInfosText .prices b{
        font-size: 19px;
      }
    

    .productSection .productInfosText .prices .stars i{
        font-size: 15px;
    }

    /* Galerie Styles */
    .productSection .productGalerie .productGalerie_main{
        
    }
    
    /* .productSection .productGalerie .productGalerie_main img{
        margin: 20px 0;
        height: auto;
        border-radius: 20px;
    } */
    
    .productSection .productGalerie .productGalerie_seconds{
        padding: 5px 0 20px;
    }
    
    .productSection .productPrices{
        padding: 10px 5px;
    }

    .productSection .productPrices p{
        font-size: 19px;
    }

    .productSection .productPrices .productPrice_counter{
        background: var(--backgroundColor);
        padding: 5px 7px;
        gap:10px;
        border-radius: 2px;
        font-size: 17px;
    }
    
    .productSection .productPrices .productPrice_counter span{
        padding: 5px 7px;
        font-size: 18px;
    }


    /* Product Details STYLES */
    .productSection .productDetails .detailState{
        padding: 15px 5px 10px;
    }
    
    .productSection .productDetails .detailState p{
        font-size: 17px;
    }
    
    .productSection .productDetails .detailState p.active{
        transform: scale(1.3);
    }
    
    .productSection .productDetails .detailState p.active::before{
        width: 8px;
        height: 8px;
    }
    
    .productSection .productDetails .productDetailsContents{
        margin: 20px auto;
        max-width: 550px;
    }
    
    .productSection .productDetails .productDetailsContents .avisContent img{
        width: 45px;
        height: 45px;
    }
    
    .productSection .productDetails .productDetailsContents .avisContent .avisText p.product_creator{
        font-size: 14px;
        padding: 7px 0 6px 0;
    }
    
    .productSection .productDetails .productDetailsContents .avisContent .avisText p{
        font-size: 16px;
    }
    
    .productSection .productDetails .productDetailsContents .avisContent .avisText p::before{
        left: -31px;
    }
    
    
    .productSection .productInfos{
        font-size: 16px;
        margin-top: 40px;
    }

    .productSection .productInfos .hProductCreator{
        justify-content: start;
        margin-top: 20px;
    }
    
    .productSection .productInfos .hProductCreator p{
        max-width: 300px;
        font-size: 16px;
    }
    
}