.paymentsSection{
    background: var(--whiteColor);
    padding: 15px 3% 8rem;
    margin-top: 5px;
}

.paymentsSection .orderPaymentType{
    margin: 30px 15px 20px;
    padding: 0 5%;
}

.paymentsSection .orderPaymentType p{
   font-size: 15px;
}

.paymentsSection .orderPaymentType p.typeActive::after{
    background: var(--primaryColor);
    width: 9px;
    height: 9px;
    top: calc(100% + 1px);
    left: calc(50% - 5px);
    border-radius: 50%;
}

.paymentsSection .orderState .orderPrices{
    margin: 20px 0;
}

.paymentsSection .orderState .orderPrices p{
    margin-bottom: 10px;
    font-size: 15px;
}

.paymentsSection .orderPaymentDetails{
    margin: 30px 0;
    padding: 0 5%;
}

.paymentsSection .orderPaymentDetails li .icon{
    color: var(--primaryColor);
    margin-top: 5px;
}

.paymentsSection .orderPaymentDetails h3{
    text-align: center;
    margin-bottom: 20px;
}

.paymentsSection .orderPaymentDetails ul li{
    font-size: 15px;
    align-items: start;
    gap: 10px;
    margin-bottom: 20px;
}

.paymentsSection .orderPaymentDetails ul li p{
    font-size: 15px;
}

.paymentsSection .orderPaymentDetails ul li i{
    color: var(--primaryColor);
    margin-top: 5px;
}