.discussSection{
    background: var(--whiteColor);
    position: fixed;
    min-height: 100vh;
    max-width: 400px;
    width: 100%;
    top: 0;
    right: 2%;
    transform: translateY(120vh);
    overflow-x: hidden;
}

.activeMessage .discussSection{
    transform: translateY(0);
    z-index: 100;   
}

.discussSection .disHeader{
    background: var(--primaryColor);
    color: var(--whiteColor);
    border-radius: 0 0 30px 30px;
    align-items: center;
    padding: 1rem 0 0;
}

.discussSection .disHeader .disTitle{
   width: 60%;
   background: rgba(0, 0, 0, 0.329);
   margin: 0 auto;
   padding: 5px 10px;
   border-radius: 7px;
   gap: 5px;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   font-weight: 500;
   font-size: 15px;
}

.discussSection .disHeader .disTitle p{
}

.discussSection .disHeader .disImages{
    margin: 10px 0;
    justify-content: center;
}

.discussSection .disHeader img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transform: translateX(-15px);
    border-left: 3px solid var(--primaryColor);
}

.discussSection .disHeader img:nth-child(1){
    transform: translateX(0px);
    border: none;
}

.discussSection .disHeader .disDetails{
    text-align: center;
    margin-top: 5px;
    font-weight: bolder;
}

.discussSection .disHeader .disDetails p{
    font-size: 15px;
    padding-bottom: 5px;
}

.discussSection .disHiddenIcon{
    position: absolute;
    background: var(--whiteColor);
    top: 3px; right: 10px;
    padding: 1px 6px;
    border-radius: 50%;
    cursor: pointer;
}


.discussSection .disBody{
    padding: 25px 5%;
}

.discussSection .disBody .msg{
    align-items: start;
    gap: 5px;   
    margin-bottom: 30px;
    flex-direction: row-reverse;
    justify-content: end;
    align-content: center;
    margin-left: auto;
    width: 90%;
}

.discussSection .disBody .msg img{
    width: 35px;
    height: 30px;
    border-radius: 50%;
}

.discussSection .disBody .msg .msgContent{
    text-align: right;
}

.discussSection .disBody .msg .msgContent span{
   color: rgba(0, 0, 0, 0.579);
   font-size: 14px;
    margin-bottom: 5px;
    text-align: right;
}

.discussSection .disBody .msg .msgContent p{
   padding: 15px 15px;
   border: 2px solid var(--opacityBlackColor);
   border-radius: 5px 15px 20px 15px;
   font-size: 16px;
   text-align: left;
}

.discussSection .disBody .msg.mymsg{
   flex-direction: row;
   margin-left: -2%;
}

.discussSection .disBody .msg.mymsg .msgContent{
   text-align: left;
}

.discussSection .disBody .msg.mymsg .msgContent p{
    background: var(--primaryColor);
    color: white;
    border: none;
}

@media (min-width: 450px) {
    .discussSection .disHeader img{
        width: 50px;
        height: 40px;
    }
    
    /* .discussSection .disBody .msg img{
        width: 45px;
        height: 40px;
    } */
}

@media screen and (max-width: 500px) {
    .discussSection{
        right: 5%;
        width: 90%;
        min-width: unset;
        transform: translate(-50%, -120vh);
    }

    .discussSection .disBody .msg p, .discussSection .disBody .msg .msgContent p{
       font-size: 15px;
       padding: 5px 7px;
    }

    
}